<h1>Pixau</h1> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz-hUJ7fjsHUxbSQVigYDRaD6H68Uo4Ot_xQ&s" alt="" srcset="">
<br>
<%= link_to 'Home', root_path %> |
<%= link_to 'Novo Periferico', new_periferico_path %> 
<hr>